.beige      { color: beige; }
.red        { color: red; }
.blue       { color: blue; }
.yellow     { color: yellow; }
.green      { color: green; }
.lightblue  { color: lightblue; }
.brown      { color: brown; }
.purple     { color: purple; }
.sandybrown { color: sandybrown; }
.skyblue    { color: skyblue; }
.hotpink    { color: hotpink; }
.olive      { color: olive; }
.gray       { color: gray; }
.indigo     { color: indigo; }
.darkblue   { color: darkblue; }
.black      { color: black; }
.silver     { color: silver; }
.pink       { color: pink; }